@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Shrikhand&family=Single+Day&display=swap');

.App {
  text-align: center;
}

.logocontainer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.taggin {
  font-family: 'Shrikhand', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 10vw;
  
  z-index: 1;

  color: #000000;

}

.hash { 
  position: fixed;

  font-family: 'Single Day', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20vw;
  margin-left: 36.9vw;
  margin-top: -8.3vw;
  color: #DBCDF0;
}


.hashlogo {
  width: 0;
  padding-left: 1vw;
  top: 0px;

  font-family: 'Single Day', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 300%;

  /* identical to box height */

  color: #DBCDF0;
}

.tagline{
  
  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140%;
  line-height: 20px;
  
  color: #DBCDF0;
}

.waitlist {
margin-top: 10vh;
margin-left: auto;
margin-right: auto;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.Rectangle {

width: 187px;
height: 54px;
left: 0px;
top: 0px;

background: #BEA0EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.join{

width: 151px;
height: 44px;
left: calc(50% - 151px/2 + 1px);
top: calc(50% - 44px/2 - 8.5px);

font-family: 'Saira Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 130%;
line-height: 44px;
/* identical to box height */

color: #FFFFFF;
}



/*  */

/* position: absolute;
width: 40px;
height: 40px;
left: 1277px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/*  */
/* 
position: absolute;
width: 35px;
height: 40px;
left: 1226px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/*  */

/* position: absolute;
width: 31px;
height: 40px;
left: 1334px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/* mainlogo */

/* position: absolute;
width: 710px;
height: 305px;
left: 370px;
top: 216px;



/* #taggin’ */

/* position: absolute;
width: 373px;
height: 167px;
left: 127px;
top: 102px; */ 



/* Text */

/* position: absolute;
width: 0px;
height: 14px;
left: 154px;
top: 269px;
 */



