@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&family=Shrikhand&family=Single+Day&display=swap');

.App {
  text-align: center;
  overflow-x: hidden;
}

.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.tagginlogo {
  margin-top: 15vh;
  justify-content: center;
  display: flex;
}

.taggin {
  font-family: 'Shrikhand', cursive;
  font-size: 9vh;
  z-index: 1;
  color: #000000;
  height: 10vw;
}

.logohash { 
  font-family: 'Single Day', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 19vh;

  margin-left: -6.4vh;
  margin-top: -8.2vh;
  color: #DBCDF0;
  height: 22vh;
}

.tagline{
  position: relative;
  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140%;
  line-height: 20px;
  
  color: #DBCDF0;
}

.waitlist {
margin-top: 10vh;
margin-left: auto;
margin-right: auto;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.Rectangle {

width: 187px;
height: 44px;
left: 0px;
top: 0px;

background: #BEA0EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

.join{

width: 151px;
height: 44px;

font-family: 'Saira Condensed', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 130%;
line-height: 44px;
/* identical to box height */

color: #FFFFFF;
}

.footer{
  margin-top: 10rem;
}

.button{
  width: 151px;
  height: 44px;
  
  background: #BEA0EB;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  border-color: transparent;

  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
  font-size: 140%;
  line-height: 20px;

  transition: all 0.5s;
  padding: 0;
  border: 0;

}

.waitlist {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  margin-top: 5vh;
}

@keyframes bounce {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.01,.99)   translateY(0); }
  30%  { transform: scale(.99,1.01)   translateY(-3px); }
  50%  { transform: scale(1.01,.99) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-2px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

.inputEmail{
  width: 139px;
  height: 38px;
  left: 0px;
  top: 0px;
  
  background:white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  border-color: #BEA0EB;

  font-family: 'Saira Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 140%;
  line-height: 20px;
  outline: none;
}

.scrollingText {
  display: flex;
}

.button:hover {
  background-image: linear-gradient(to right, #BEA0EB , #d6cde4);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*  */

/* position: absolute;
width: 40px;
height: 40px;
left: 1277px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/*  */
/* 
position: absolute;
width: 35px;
height: 40px;
left: 1226px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/*  */

/* position: absolute;
width: 31px;
height: 40px;
left: 1334px;
top: 42px;

font-family: Font Awesome 5 Brands;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 40px;

color: #DBCDF0; */



/* mainlogo */

/* position: absolute;
width: 710px;
height: 305px;
left: 370px;
top: 216px;



/* #taggin’ */

/* position: absolute;
width: 373px;
height: 167px;
left: 127px;
top: 102px; */ 



/* Text */

/* position: absolute;
width: 0px;
height: 14px;
left: 154px;
top: 269px;
 */



