.Header {
    display: flex;
    flex-direction: row;
    flex: wrap;
    align-content:space-between;

    width: 100%;
    top: 0px;
    
    font-family: 'Single Day', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    
    /* identical to box height */
    
    background-position: center;
    background-size: 100vh;
    color: #ffffff;

}

.left {
    margin-left: 2vh;
    width: 10%;
    font-size: 8vh;

    animation: spin 4s linear infinite;
    transform: rotate(-5deg);
}
 
.right {
    width: 90%;
    align-self: center;
    justify-content: right;
    height: 5vh;

    display: flex;
    font-family: 'Saira Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;

}

.join {
    width: 15%;
    max-width: 100px;
    margin-right: 2vh;
}

.FAQ {
    padding-left: 10px;
    margin-top: 1.5vh;
    margin-right: 2vh;
    font-size: 5vh;
}


